.table-wrapper {
  height: 100%;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  gap: 12px;
  box-sizing: border-box;
  background: linear-gradient(-125deg, var(--card-color), var(--card-color), rgba(35, 180, 163, 0.2), rgba(35, 180, 163, 0.5));
  border-radius: var(--card-radius);
}

.table-container {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(18, 21, 28, 0.5);
  border-radius: var(--card-radius);
  border: 1px solid var(--text-color-10);
  backdrop-filter: blur(40px);
}

thead {
  flex: 0 0 auto;
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: left;
  padding: 16px;
  background: var(--bg-color-50);
  border-top-left-radius: var(--card-radius);
  border-top-right-radius: var(--card-radius);
  border-bottom: 1px solid var(--text-color-10);
}

tbody {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
  display: block;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  transition: background 0.2s ease;
  cursor: pointer;

  &.selected {
    background: var(--primary-color-10);
  }

  &:hover {
    background: var(--text-color-5);
  }
}

td, th {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 16px;
}

td {
  font-size: 14px;
}

app-filter-select {
  display: flex;
  align-self: flex-end;
  width: 200px;
}