.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.field {
  display: flex;
  gap: 8px;
}

input {
  max-width: 15rem;
}

button {
  width: fit-content;
}

.console {
  flex: 1;
  overflow-y: auto;
  height: 30vh;
  background: var(--bg-color);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  border: 1px solid var(--text-color-10);

  .log {
    display: flex;
    gap: 30px;
    padding-block: 4px;
    font-family: 'Ubuntu Mono', monospace;

    * { font-family: inherit }

    &__type {
      width: 70px;
    }
  }
}