<div class="card">
  <div class="title-support-text">
    <h2>Limpeza Automática</h2>
    <p>
      Permite aplicar métricas para reduzir o espaço ocupado por working sets na
      memória RAM.
    </p>
  </div>

  <div>
    <label for="maxWorkingSetSize">Tamanho máximo de Working Set (KB)</label>
    <div class="field">
      <input
        [ngModel]="limitInput"
        (ngModelChange)="updateLimit($event)"
        name="maxWorkingSetSize"
        placeholder="Digite um tamanho inteiro..."
        type="text"
        mask="0*"
        max="999999"
      />
      <button class="btn-filled" (click)="onSetWorkingSetLimit()">
        Aplicar
      </button>
    </div>
  </div>

  <div>
    <h3 class="title">
      <span class="material-symbols-outlined">terminal</span>
      Console
    </h3>

    <div class="console" #consoleContainer>
      <ng-container *ngIf="store.consoleLogs().length === 0; else logs">
        <div class="log">Aguardando notificações...</div>
      </ng-container>

      <ng-template #logs>
        <div class="log" *ngFor="let log of store.consoleLogs()">
          <div class="log__type" [style.color]="getLogTypeColor(log.type)">
            {{ log.type.toUpperCase() }}:
          </div>
          <div class="log__timestamp">{{ log.timestamp }}</div>
          <div class="log__message">{{ log.message }}</div>
        </div>
        <div #anchor></div>
      </ng-template>
    </div>
  </div>
</div>
