<div class="page-container">
  <div class="totals-wrapper">
    <div class="card">
      <h3>Total Working Sets</h3>
      <div class="counter">
        <span class="counter__value">{{ store.totalWorkingSetSizeGB() | number }}</span>
        <span class="counter__unit">GB</span>
      </div>
    </div>
    <div class="card" [style.color]="'var(--primary-color)'" [style.background]="'var(--primary-color-20)'">
      <h3>Total de Processos</h3>
      <div class="counter">
        <span class="counter__value">{{ store.totalProcesses() }}</span>
        <span class="counter__unit">ativos</span>
      </div>
    </div>
    <div class="card">
      <h3>😋 Mais Guloso (PID)</h3>
      <div class="counter">
        <span class="counter__value">{{ processesStore.greedyProcess()?.pid }}</span>
        <span class="counter__unit">{{ processesStore.greedyProcess()?.name }}</span>
      </div>
    </div>
    <div class="card">
      <h3>Total de Threads</h3>
      <div class="counter">
        <span class="counter__value">{{ store.totalThreads() }}</span>
        <span class="counter__unit">threads</span>
      </div>
    </div>
    <div class="card">
      <h3>⚡ Limpeza Automática</h3>
      <div class="counter">
        <span class="counter__value">{{ store.totalCleaned() }}</span>
        <span class="counter__unit">MB</span>
      </div>
    </div>
  </div>

  <app-tabs
    [tabs]="tabs"
    [active]="selectedTab()"
    (activeChange)="selectTab($event)"
  >
    <ng-container [ngSwitch]="selectedTab()">
      <div *ngSwitchCase="0" class="process-view">
        <app-process-table></app-process-table>
        <app-process-details></app-process-details>
      </div>

      <div *ngSwitchCase="1">
        <app-heuristics-panel></app-heuristics-panel>
      </div>
    </ng-container>
  </app-tabs>
</div>
