.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  width: 80vw;
  height: 100%;
  gap: 16px;
}

.totals-wrapper {
  display: flex;
  width: 100%;
  gap: 12px;

  .card {
    width: 100%;

    &:first-child {
      background: linear-gradient(160deg, var(--secondary-color) 0%, var(--card-color) 90%);
    }
  }

  .counter {
    display: flex;
    align-items: flex-end;
    color: inherit;
    gap: 4px;

    &__value {
      font-size: 42px;
      line-height: 0.9;
      font-weight: 700;
    }

    &__unit {
      font-weight: 500;
      opacity: 0.5;
    }
  }

  .card h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: inherit;
  }
}

.process-view {
  display: flex;
  gap: 16px;
  max-height: 65vh;
  overflow: hidden;
}