* {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
}

:root {
  --bg-color: rgb(18, 21, 28);
  --secondary-color: rgb(82, 213, 82);
  --secondary-color-20: rgba(82, 213, 82, 0.2);
  --secondary-color-10: rgba(82, 213, 82, 0.1);
  --primary-color: rgb(0, 182, 149);
  --primary-color-20: rgba(0, 182, 149, 0.2);
  --primary-color-10: rgba(0, 182, 149, 0.1);
  --text-color: white;
  --text-color-50: rgba(255, 255, 255, 0.5);
  --text-color-20: rgba(255, 255, 255, 0.2);
  --text-color-10: rgba(255, 255, 255, 0.1);
  --text-color-5: rgba(255, 255, 255, 0.05);
  --card-color: rgb(24, 27, 37);
  --card-radius: 16px;
  --card-padding: 20px;
}

.row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: var(--card-color);
  border-radius: var(--card-radius);
  padding: var(--card-padding);
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.title-support-text p {
  font-size: 14px;
  opacity: 0.5;
  margin-top: 6px;
  line-height: 1.4;
}

.tag {
  background-color: var(--secondary-color-20);
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 14px;
  padding: 6px;
  border-radius: 6px;
  white-space: nowrap;
}

button {
  outline: none;
  border: none;
  padding: 12px 18px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  min-width: fit-content;
  height: 44px;
  cursor: pointer;
  transition: all 0.3s ease;

  .material-symbols-outlined {
    font-size: 20px;
    color: inherit;
  }
}

.btn-ghost {
  background: var(--text-color-5);
  color: var(--text-color);

  &:hover {
    background: var(--text-color-10);
  }
}

.btn-filled {
  background: var(--primary-color);
  color: var(--text-color);

  &:hover {
    filter: brightness(110%);
  }
}

input {
  width: 100%;
  padding: 12px 12px;
  border-radius: 8px;
  border: 1px solid var(--text-color-10);
  box-sizing: border-box;
  background: var(--bg-color);
  background: transparent;
  outline: none;
  transition: box-shadow 0.3s ease-in-out;

  &:focus {
    box-shadow: inset 0 0 0 1px  var(--primary-color);
  }

  &::placeholder {
    color: var(--text-color-50);
  }
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 8px;
}

hr {
  border: 1px solid var(--text-color-5);
}