.process-details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  min-width: 400px;
}

hr {
  border: 1px solid var(--text-color-5);
}

.row-between {
  gap: 12px;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.process-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 12px;

  span.label {
    font-weight: 500;
  }

  span:not(.label) {
    opacity: 0.5;
  }
}