<div class="process-details card" *ngIf="store.selectedProcess() as proc">
    <div class="row-between">
        <h2>{{ proc.name }}</h2>
        <span class="tag">PID {{ proc.pid }}</span>
    </div>
    <hr>

    <div class="process-info">
        <div class="row-between">
            <span class="label">Working Set Size</span>
            <span>{{ proc.working_set_size| number }} KB</span>
        </div>
        <div class="row-between">
            <span class="label">Peak Working Set Size</span>
            <span>{{ proc.peak_working_set_size | number }} KB</span>
        </div>
        <div class="row-between">
            <span class="label">Page Fault</span>
            <span>{{ proc.page_fault_count }}</span>
        </div>
        <div class="row-between">
            <span class="label">Pages</span>
            <span>{{ proc.pages }}</span>
        </div>
        <div class="row-between">
            <span class="label">Private Pages</span>
            <span>{{ proc.private_usage | number }} KB</span>
        </div>
        <div class="row-between">
            <span class="label">Threads</span>
            <span>{{ proc.thread_count }}</span>
        </div>
    </div>

    <app-process-chart/>

        <div class="action-buttons">
        <button class="btn-ghost" (click)="onTerminateProcess(proc.pid)">
            <span class="material-symbols-outlined">stop_circle</span>
            Encerrar
        </button>
        <button class="btn-filled" (click)="onClearWorkingSet(proc.pid)">
            <span class="material-symbols-outlined">mop</span>
            Limpar working set
        </button>
    </div>
</div>
